<a href="https://colab.research.google.com/github/sushmit071003/ml-labwork/blob/main/basicprogramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = int(input("Enter the number : "))
for i in range (1,11):
  print(x," x ",i," = ",x*i)

Enter the number : 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20

In [2]:
fruits = ["Apple","Banana","Pineapple","Papaya","Orange"]
OddL = []
newL = []
for i in fruits :
  if 'p' in i:
    newL.append(i)
  else :
    OddL.append(i)
print("fruits is : ",fruits)
print("newL is : ",newL)
print("OddL is : ",OddL)

fruits is :  ['Apple', 'Banana', 'Pineapple', 'Papaya', 'Orange']
newL is :  ['Apple', 'Pineapple', 'Papaya']
OddL is :  ['Banana', 'Orange']

In [3]:
marks = (18,19,15,20)
print(marks[1:4])
print(marks[:4])
print(marks[::-1])
print(marks[:-2])

(19, 15, 20)
(18, 19, 15, 20)
(20, 15, 19, 18)
(18, 19)